/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* container principale */
.container{
    width: 1280px;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    color: #8A8A8A;
}

/* header */
header{
    height: 100px;
    margin-bottom: 20px;
}

.logo{
    width: 150px;
    padding-top: 10px;  
}

header a{
    color: #8A8A8A;
    text-decoration: none;
    stlistyle: none;
    padding: 20px 0px;
}

ul{
    margin: 20px 0px;
}

li{
    list-style: none;
    margin-right: 10px;
    display: inline-block;
}



/* main */
.hero{
    min-height: 200px;
    background-color: #e1d67a;
    margin-bottom: 20px;
}

.section-2{
    background-color: #0186ff;
    margin-bottom: 10px;
    padding-bottom: 20px;
}

.clearfix::after{  
    content: '';
    display: table;
    clear: both;
}

.mini-header{
    min-height: 50px;
    background-color: #abcfe7;
    margin-bottom: 20px;
}

/* articoli */

/* common */
.articolo{
    min-height: 400px;
    background-color: #abcfe7;
}

/* colonna sx-dx*/
.sinistra, .destra{
    float: left;
    width: 20%;
}
/* colonna centrale */
.centrale{
    float: left;
    width: calc(60% - 40px);
    margin: 0 20px;
}


/* footer */

footer{
    min-height: 100px;
    background-color: #8801fe;
}
