/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* container principale */
.container{
    width: 1280px;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    color: #8A8A8A;
}

/* header */
.logo{
    width: 150px;
    padding-top: 10px;  
}

header a{
    color: #8A8A8A;
    text-decoration: none;
}

ul{
    margin: 20px 0;
}
li{
    list-style: none;
    margin-right: 10px;
    display: inline-block;
}

/* main */

.hero{
    height: 450px;
    margin-bottom: 20px;
    border-radius: 15px;
    color: white;
    position: relative;
    background-color: black;
}  

.hero-img{
    background-image: url('../img/banner.jpg');
    opacity: 0.7;
    height: 100%;
    width: 100%;
    background-position: center;
    border-radius: 15px;
}
.hero-text{
    width: 50%;
    font-size: 18px;
    padding: 50px 30px;
    position: absolute;
    bottom: 0px;
}

h2{
    font-weight: 400;
}

.section-2{
    margin-bottom: 10px;
    padding-bottom: 20px;
}

.clearfix::after{  
    content: '';
    display: table;
    clear: both;
}

.mini-header{
    margin-bottom: 20px;
}

h1{
    color: black;
    font-size: 30px;
}

/* articoli */

/* common */
.articolo{
    background-color: #abcfe7;
}

/* colonna sx-dx*/
.sinistra, .destra{
    float: left;
    width: 20%;
}
/* colonna centrale */
.centrale{
    float: left;
    width: calc(60% - 40px);
    margin: 0 20px;
}

.img-container{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.bg-opacity{
    background-color: black;
}
/* footer */

footer{
    min-height: 100px;
    background-color: #8801fe;
}
